{{ define "main" }}

<!-- featured post -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 featured-post-slider">
        <!-- slider item -->
        {{ range ( where .Site.RegularPages "Type" "featured" )}}
        <article class="card featured-post">
          <div class="row no-gutters align-items-center">
            <div class="col-md-5">
              {{ if and .Params.Image (ne .Params.Image "") }}
              {{ $image := resources.Get .Params.Image }}
              {{ if $image }}
              {{ partial "image.html" (dict "Src" .Params.Image "Alt" .Title "Class" "card-img" ) }}
              {{ end }}
              {{ end }}
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="card-body">
                <div class="mb-3 post-meta">
                  <span>By {{ .Site.Params.Author }}</span>
                  {{ if not .Params.HideDate }}
                  <span class="border-bottom border-primary px-2 mx-1"></span>
                  <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  {{ end }}
                </div>
                <a href="{{ .Permalink }}"
                  class="h1 font-weight-bold d-block text-dark mb-4 card-title">{{ .Title | markdownify }}</a>
                <p class="card-text">{{.Summary | truncate 150}}</p>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->

<!-- recent post -->
<section>
  <div class="container">
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "post")}}
      <div class="col-lg-4 small-post-border">
        <article class="media">
          {{ if .Params.Image }}
          <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Image | absURL }}');"></div>
          {{ end }}
          <div class="media-body">
            <div class="mb-3 post-meta">
              <span>By {{ .Site.Params.Author }}</span>
              {{ if not .Params.HideDate }}
              <span class="border-bottom border-primary px-2 mx-1"></span>
              <span>{{ .PublishDate.Format "02 Jan 2006" }}</span>
              {{ end }}
            </div>
            <a href="{{ .Permalink }}" class="h5 d-block mb-3">{{ .Title | markdownify }}</a>
            <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /recent post -->

<!-- blog post -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
      {{ range $paginator.Pages }}
      {{ $c := "c-blog-card" }}
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <article class="{{$c}}">
          <div class="{{$c}}__content">
            <a href="{{ .Permalink }}" class="{{$c}}__image">
              {{ if and .Params.Image (ne .Params.Image "") }}
              {{ $image := resources.Get .Params.Image }}
              {{ if $image }}
              {{ partial "image.html" (dict "Src" .Params.Image "Alt" .Title "Class" "") }}
              {{ end }}
              {{ end }}
            </a>
            <div class="{{$c}}__info">
              <div class="{{$c}}__info-wrap">
                <h3 class="{{$c}}__title">{{ .Title | markdownify }}</h3>
              </div>
            </div>
          </div>
        </article>
      </div>
      {{ end }}

      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}